<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>tmhomeslider</name>
            <displayName><![CDATA[Templatemela - HomePage Slider]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Adds an image slider for your homepage slider.]]></description>
            <author><![CDATA[Templatemela]]></author>
            <tab><![CDATA[Other]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>